:host {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

.diagram {
  display: flex;
  width: 100%;
  height: var(--ng-diagram-height);
  border: var(--ng-diagram-border);
}
