<div class="diagram-container">
  <ng-diagram
    [nodeTemplateMap]="nodeTemplateMap"
    [edgeTemplateMap]="edgeTemplateMap"
    [model]="model"
    [config]="config"
    (diagramInit)="onDiagramInit($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (selectionMoved)="onSelectionMoved($event)"
    (viewportChanged)="onViewportChanged($event)"
    (edgeDrawn)="onEdgeDrawn($event)"
  >
    <ng-diagram-background></ng-diagram-background>
  </ng-diagram>
  <app-toolbar />
  <app-palette [model]="paletteModel" />
</div>
