<div class="diagram-container">
  <ng-diagram
    [nodeTemplateMap]="nodeTemplateMap"
    [edgeTemplateMap]="edgeTemplateMap"
    [model]="model"
    [config]="config"
    (diagramInit)="onDiagramInit($event)"
    (selectionChanged)="onSelectionChanged($event)"
    (selectionMoved)="onSelectionMoved($event)"
    (groupMembershipChanged)="onGroupMembershipChanged($event)"
    (selectionRotated)="onSelectionRotated($event)"
    (viewportChanged)="onViewportChanged($event)"
    (edgeDrawn)="onEdgeDrawn($event)"
    (clipboardPasted)="onClipboardPasted($event)"
    (nodeResized)="onNodeResized($event)"
    (paletteItemDropped)="onPaletteItemDropped($event)"
    (selectionRemoved)="onSelectionRemoved($event)"
  >
    <ng-diagram-background type="grid"></ng-diagram-background>
  </ng-diagram>
  <app-toolbar />
  <app-palette [model]="paletteModel" />
</div>
