:host {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  display: flex;

  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    background-color: var(--sl-color-bg-nav);
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;

    input[type='checkbox'] {
      width: 1rem;
      height: 1rem;
      cursor: pointer;
    }

    span {
      font-size: 0.875rem;
    }
  }
}
