:host {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  display: flex;
  padding: 1rem;
  background-color: var(--ngd-node-bg-primary-default);
  border: var(--ng-diagram-border);

  button {
    margin-top: 0;
  }
}
