:host {
  position: absolute;
  top: 0;
  right: 0;
  height: 90%;
  padding: 1rem;
  margin-top: 0;

  .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--ngd-node-bg-primary-default);
    border: var(--ngd-node-border-size) solid var(--ngd-node-border-color);
    padding: 1rem;
    gap: 0.5rem;
    height: 100%;
    width: 200px;
    user-select: none;

    h6 {
      margin: 1rem 0;
    }

    input {
      padding: 8px 12px;
      border-radius: 6px;
      background: var(--ngd-node-bg-primary-default);
      border: 1px solid var(--ngd-node-stroke-primary-default);
    }

    .horizontal {
      display: flex;
      gap: 0.5rem;
    }

    .vertical {
      display: flex;
      gap: 0.25rem;
      flex-direction: column;
    }
  }
}
