<img [src]="imageUrl()" alt="Image" />
<angular-adapter-port
  id="port-left"
  type="both"
  style="top: 50%; left: 0; transform: translate(-50%, -50%)"
  side="left"
  [nodeData]="data()"
/>
<angular-adapter-port
  id="port-top"
  type="both"
  style="top: 0; left: 50%; transform: translate(-50%, -50%)"
  side="top"
  [nodeData]="data()"
/>
<angular-adapter-port
  id="port-right"
  type="both"
  style="top: 50%; left: 100%; transform: translate(-50%, -50%)"
  side="right"
  [nodeData]="data()"
/>
<angular-adapter-port
  id="port-bottom"
  type="both"
  style="top: 100%; left: 50%; transform: translate(-50%, -50%)"
  side="bottom"
  [nodeData]="data()"
/>
