<div class="resizable-node">
  <div class="resizable-node-header">
    width: {{ data().size?.width | number: '1.0-0' }}, height: {{ data().size?.height | number: '1.0-0' }}
  </div>
  <div class="size-control">
    <input
      class="size-input"
      type="text"
      placeholder="Enter size [width height]"
      [(ngModel)]="sizeText"
      (keydown)="$event.stopPropagation()"
      (keypress)="$event.stopPropagation()"
      (keyup)="$event.stopPropagation()"
      (blur)="setSize()"
    />
    <label class="auto-size-label">
      <input
        class="auto-size-checkbox"
        type="checkbox"
        [checked]="data().autoSize"
        (change)="onSizeControlChange($event)"
        (keydown)="$event.stopPropagation()"
        (keypress)="$event.stopPropagation()"
        (keyup)="$event.stopPropagation()"
      />
      Auto size
    </label>
  </div>
  <input
    class="text-input"
    type="text"
    placeholder="Enter value..."
    [(ngModel)]="text"
    (keydown)="$event.stopPropagation()"
    (keypress)="$event.stopPropagation()"
    (keyup)="$event.stopPropagation()"
  />
  {{ text() }}
</div>
@if (!isPaletteNode()) {
  <angular-adapter-port
    id="port-left-1"
    type="target"
    style="top: 25%; left: 0; transform: translate(-50%, -50%)"
    side="left"
    [nodeData]="data()"
  />
  <angular-adapter-port
    id="port-left-2"
    type="target"
    style="top: 50%; left: 0; transform: translate(-50%, -50%)"
    side="left"
    [nodeData]="data()"
  />
  <angular-adapter-port
    id="port-left-3"
    type="target"
    style="top: 75%; left: 0; transform: translate(-50%, -50%)"
    side="left"
    [nodeData]="data()"
  />
}
