:host {
  --mdc-chip-label-text-size: 10px;
  --mat-form-field-container-vertical-padding: 8px;
  --mat-form-field-container-height: 30px;
}

//   display: flex;
//   width: 100%;
//   height: 100%;
//   border-radius: 10px;
//   border: 1px solid var(--ngd-node-stroke-primary-default);
//   background-color: var(--ngd-node-bg-primary-default);

//   .node {
//     display: flex;
//     flex-direction: column;
//     padding: 12px;
//     border-radius: 10px;

//     &-header {
//       font-weight: bold;
//       margin-bottom: 4px;
//       display: flex;
//       justify-content: space-between;
//       vertical-align: middle;
//       align-items: center;
//       justify-items: center;

//       .chip {
//         display: inline-block;
//         font-size: 11px;
//         height: 20px;
//         padding: 0 8px;
//         border-radius: 10px;
//         color: white;
//         margin-bottom: 10px;
//         line-height: 20px;
//       }
//     }

//     &-body {
//       font-size: 12px;
//       cursor: help;

//       form {
//         height: 50px;
//         margin-top: 8px;

//         select {
//           min-width: 120px;
//           padding: 4px 8px;
//           border-radius: 4px;
//           border: 1px solid #ccc;
//           font-size: 12px;
//           margin-left: 10px;
//         }
//       }
//     }
//   }
// }
