:host {
  --mdc-chip-label-text-size: 10px;
  --mat-form-field-container-vertical-padding: 8px;
  --mat-form-field-container-height: 30px;

  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--ngd-node-stroke-primary-default);
  background-color: var(--ngd-node-bg-primary-default);
}
