:host {
  position: absolute;
  height: 100%;
  padding: 1rem;
  margin-top: 0;

  .palette {
    display: flex;
    flex-direction: column;
    background-color: var(--ngd-node-bg-primary-default);
    border: var(--ngd-node-border-size) solid var(--ngd-node-border-color);
    padding: 1rem;
    gap: 0.5rem;
    height: 100%;
    width: 200px;
    user-select: none;
  }
}
