.diagram {
  width: 100%;
  height: 100%;
  margin-top: 0;
}

.example-container {
  display: flex;
  flex-direction: column;
  height: var(--ng-diagram-height);
  border: var(--ng-diagram-border);
  overflow: hidden;
  position: relative;

  .button-controls {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 1;
    gap: 0.5rem;
    align-items: flex-end;
    justify-content: end;
    padding: 1rem;
    background-color: var(--ngd-node-bg-primary-default);
    border: var(--ng-diagram-border);

    button {
      margin-top: 0;
    }
    .btn-secondary {
      background-color: #8b0000;
      color: white;
    }
  }
}
