:host {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: var(--ngd-node-bg-primary-default);
  border: var(--ngd-node-border-size) solid var(--ngd-node-border-color);
  color: var(--ngd-txt-primary-default);
  border-radius: var(--ngd-node-border-radius);
  min-width: 150px;

  .port-toggle-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    .port-toggle-checkbox {
      cursor: pointer;
    }
  }
}
