:host {
  position: absolute;
  left: 50%;
  bottom: 8px;
  transform: translateX(-50%);

  & > div {
    display: flex;
    gap: 8px;
    padding: 8px;
    background: #ffffff;
    border-radius: 4px;
  }
}
