<div>
  <button (click)="onToggleDebugModeClick()">{{ `${isDebugModeEnabled() ? 'Disable' : 'Enable'}` }} debug mode</button>
  <button (click)="onLinkCreationClick()">Start Link Creation</button>
  <button [disabled]="!isNodeSelected()" (click)="onCenterOnClick()">Center on selected node</button>
  <button [disabled]="!isNodeSelected()" (click)="onChangeNodeTypeClick()">Change Node Type</button>
  <button (click)="onZoomToFitClick()">Zoom to fit</button>
  <button (click)="onAsyncTransactionWithMeasurementsDemo()">Async + Measurements + Zoom</button>
  <button (click)="reinitializeModelClick.emit()">Reinitialize Model</button>
</div>
