// Base state
ng-diagram-base-edge {
  --edge-stroke: steelblue;
  --edge-stroke-width: 2;
}

// Selected state
ng-diagram-base-edge.selected {
  --edge-stroke: dodgerblue;
  --edge-stroke-width: 3;
}

// Hover state
ng-diagram-base-edge:hover:not(.selected) {
  --edge-stroke: deepskyblue;
}
