:host {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: flex;
  background-color: var(--ngd-node-bg-primary-default);
  border: var(--ng-diagram-border);
  margin-top: 0;

  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    user-select: none;
    cursor: pointer;

    input[type='checkbox'] {
      width: 1rem;
      height: 1rem;
      cursor: pointer;
    }

    span {
      font-size: 0.875rem;
    }
  }
}
