@import 'tailwindcss';
@layer reset, starlight;
@import 'ng-diagram/styles.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'uplot/dist/uPlot.min.css';
@import './content-tiles.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* Custom layout styles for the documentation site */
html {
  --sl-content-width: 50rem;
  --sl-sidebar-width: 20rem;
  --sl-content-pad-x: 3.5rem;

  --ng-diagram-height: 30rem;
  --ng-diagram-border: 1px solid var(--ngd-ui-border-color);
}
@media (min-width: 80rem) {
  html {
    --sl-content-width: 60rem;
    --sl-sidebar-width: 24.75rem;
  }
}

@layer reset {
  * {
    margin: 0;
    box-sizing: border-box;
  }
}

/* Hide page title in navigation */
.site-title span {
  display: none;
}

/* Collapse sections in code snippets */
details.ec-section.github {
  opacity: 0.5;

  &[open] {
    opacity: 1;
  }
}

/* Custom font only for the diagram canvas elements */
ng-diagram-canvas {
  font-family: 'Poppins', sans-serif;
}

/* Hide the code block header with three dots while preserving syntax highlighting */
.expressive-code {
  .header {
    display: none;
  }

  code {
    border-top: var(--ec-brdWd) solid var(--ec-brdCol);
  }
}

.sl-markdown-content {
  /* 
  * TODO - move this to wrapper stylesheet when created
  * Style diagram buttons inside markdown content 
  */
  button {
    border: 1px solid var(--ngd-pt-stroke-primary-default);
    padding: 1px 6px;
    cursor: pointer;
    border-radius: 3px;
  }

  button:hover {
    background-color: var(--ngd-node-bg-primary-default);
  }

  button:active {
    background-color: var(--ngd-node-stroke-primary-default);
  }

  /* Restore list styles removed by Tailwind preflight */
  ul:not([role='tablist']),
  ol {
    list-style-type: disc;
    padding-left: 1.5rem;
  }

  ol {
    list-style-type: decimal;
  }
}
