@layer reset, starlight;
@import '@angularflow/angular-adapter/styles.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@layer reset {
  * {
    margin: 0;
    box-sizing: border-box;
  }
}

/* Hide page title in navigation */
.site-title span {
  display: none;
}
