// @section-start
.custom-diagram {
  display: flex;
  height: var(--ng-diagram-height);
  border: var(--ng-diagram-border);

  // @mark-start:styles
  --ngd-default-edge-stroke: sienna;
  --ngd-default-edge-stroke-hover: darkgoldenrod;
  --ngd-default-edge-stroke-selected: gold;
  // @mark-end:styles
}
// @section-end
