:host {
  display: flex;
  position: relative;
}

.diagram {
  display: flex;
  width: 100%;
  height: var(--ng-diagram-height);
  border: var(--ng-diagram-border);
}

.toolbar {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  justify-content: right;
  background-color: var(--ngd-node-bg-primary-default);
  border: var(--ng-diagram-border);
  z-index: 1;

  button {
    margin-top: 0;
  }
}
