:host {
  --mdc-chip-label-text-size: 10px;
  --mat-form-field-container-vertical-padding: 8px;
  --mat-form-field-container-height: 30px;

  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--ngd-node-stroke-primary-default);
  background-color: var(--ngd-node-bg-primary-default);

  .node {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    border-radius: 10px;

    &-header {
      font-weight: 600;
      color: var(--ngd-txt-primary-default);
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items: center;
      justify-items: center;

      .chip {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 400;
        padding: 5px 6px;
        border-radius: 4px;
        color: white;
        line-height: 140%;
      }
    }

    &-divider {
      height: 1px;
      background-color: var(--ngd-node-stroke-primary-default);
      margin: 16px -24px;
    }

    &-body {
      font-size: 12px;
      cursor: help;

      form {
        margin-top: 4px;
        display: flex;
        flex-direction: column;

        select {
          min-width: 200px;
          padding: 8px 12px;
          border-radius: 6px;
          background: var(--ngd-node-bg-primary-default);
          border: 1px solid var(--ngd-node-stroke-primary-default);
          font-size: 12px;
        }
      }
    }
  }
}
