:host {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  box-sizing: border-box;
  transition:
    box-shadow 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
}

:host:hover {
  border-color: rgba(145, 64, 255, 1);

  .group-node {
    border-color: rgba(145, 64, 255, 1);
  }

  .group-node-header {
    border-bottom-color: rgba(145, 64, 255, 1);
  }
}

/* Change box-shadow when node is selected */
:host.node-selected {
  border-color: rgba(145, 64, 255, 1);
  box-shadow: 0 0 0 4px rgba(145, 64, 255, 0.4);

  .group-node {
    border-color: rgba(145, 64, 255, 1);
  }

  .group-node-header {
    border-bottom-color: rgba(145, 64, 255, 1);
  }
}

.group-node {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
  border-radius: 0.75rem;
  background: #27282b;
  border: 0.0625rem solid #4d5059;
  transition: border-color 0.1s ease-in-out;

  &[data-highlight='true'] {
    background: #27282b;
    border: 0.0625rem solid rgba(145, 64, 255, 1);
  }
}

.group-node-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  background: #151516;
  border-bottom: 1px solid #4d5059;
  min-width: 100px;
  transition: border-bottom-color 0.1s ease-in-out;
}

.group-node-header-title {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.group-node-content {
  min-height: 80px;
}
