.nav-bar {
  display: flex;
  gap: 0.5px;
  align-items: flex-end;
  justify-content: end;
  padding: 1rem;
  background-color: var(--ngd-ui-bg-tertiary-default);

  .btn {
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 0;
    border: 0;

    &:hover {
      background-color: var(--ngd-node-stroke-primary-default);
    }
  }
}
