:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.diagram-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: var(--ng-diagram-height);
  border: var(--ng-diagram-border);
}

.controls {
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
  justify-content: end;
  background-color: var(--ngd-node-bg-primary-default);
  border: var(--ng-diagram-border);
}

.readonly-toggle {
  background: var(--sl-color-accent);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s ease;

  &:hover {
    background: var(--sl-color-accent-high);
  }

  &.active {
    background: var(--sl-color-red);

    &:hover {
      background: var(--sl-color-red-high);
    }
  }
}

.status {
  font-size: 0.875rem;
  color: var(--sl-color-text-accent);

  .readonly {
    color: var(--sl-color-red);
    font-weight: 500;
  }
}

.diagram {
  margin-top: 0;
  flex-grow: 1;

  ng-diagram {
    height: 100%;
    width: 100%;
  }
}
