---
import { NgDiagramComponentContainer } from './quick-start.component';
---

<div class="diagram-container not-content">
  <NgDiagramComponentContainer client:only="angular" />
</div>

<style>
  .diagram-container {
    width: 100%;
    height: 20rem;
    border: 5px solid var(--ngd-ui-border-default);
    background-color: var(--ngd-ui-bg-tertiary-default);
  }
</style> 