:host {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  background-color: var(--ngd-node-bg-primary-default);
  border: var(--ng-diagram-border);
  padding: 1rem;
}

.nav-bar {
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: end;

  & .status {
    flex: 1;
    padding: 2px 12px;

    &:empty {
      background: none;
      padding: 0;
    }
  }

  button {
    margin-top: 0;
    cursor: pointer;

    &.clear {
      background: darkred;
      border-style: solid;
      border-color: darkred;

      &:disabled {
        border-color: var(--ngd-node-border-color);
      }
    }

    &:disabled {
      cursor: not-allowed;

      &.clear {
        background: none;
      }
    }
  }
}
