:host {
  --border-color: red;
  --border-color-selected: #9f0000;
}

ng-diagram-base-edge.custom-edge {
  --edge-stroke: var(--border-color);
}

ng-diagram-base-edge.custom-edge.selected {
  --edge-stroke: var(--border-color-selected);

  button {
    border-color: var(--border-color-selected);
  }
}

button {
  pointer-events: all;
  background-color: white;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
}
