<ng-diagram-node-rotate-adornment />
<ng-diagram-node-resize-adornment>
  <div class="input-field-node">
    <!-- we need to stop the event from propagating and reaching the document,
    otherwise event will be captured and send to Input Event Handler -->
    <input
      type="text"
      placeholder="Enter value..."
      [(ngModel)]="text"
      (keydown)="$event.stopPropagation()"
      (keypress)="$event.stopPropagation()"
      (keyup)="$event.stopPropagation()"
      data-no-drag="true"
      data-no-pan="true"
    />
    {{ text() }}
  </div>
  <ng-diagram-port id="port-left" type="target" side="left" />
  <ng-diagram-port id="port-right" type="source" side="right" />
</ng-diagram-node-resize-adornment>
