:host {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--ngd-node-bg-primary-default);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #383838;
  color: var(--ngd-txt-primary-default);

  /* Override port CSS variables for custom styling */
  --ngd-port-border-size: 0px;
  --ngd-port-background-color: transparent;
  --ngd-port-border-size-hover: 0px;

  .header-node-port {
    font-size: 0.75rem;
    margin: 0 0.5rem;
  }

  .header-node-port-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    svg {
      stroke: var(--ngd-txt-primary-default);
    }
  }

  .header-node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    & img {
      pointer-events: none;
    }

    .theme-img-light {
      display: block;
    }
    .theme-img-dark {
      display: none;
    }

    &__title {
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
}

:host-context([data-theme='dark']) {
  .header-node {
    .theme-img-light {
      display: none;
    }
    .theme-img-dark {
      display: block;
    }
  }
}
