:host {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--ngd-node-stroke-primary-default);
  background-color: var(--ngd-node-bg-primary-default);

  .node {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 10px;

    &-header {
      font-weight: bold;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      vertical-align: middle;
      align-items: center;
      justify-items: center;

      .mat-mdc-chip {
        --mdc-chip-label-text-color: white !important;
      }
    }

    &-body {
      font-size: 12px;
      cursor: help;

      p {
        width: 180px;
      }

      .mat-expansion-panel {
        --mat-expansion-container-background-color: var(
          --ngd-node-stroke-primary-default
        );
        --mat-expansion-header-text-color: var(--ngd-txt-primary-default);
        --mat-expansion-container-text-color: var(--ngd-txt-primary-default);
        --mat-expansion-header-indicator-color: var(--ngd-txt-primary-default);
      }

      form {
        height: 50px;
        margin-top: 8px;

        .mat-mdc-form-field {
          min-width: 120px;
        }
      }
    }
  }
}
