<div>
  @for (paletteItem of model(); track paletteItem.type) {
    @let template = nodeTemplateMap().get(paletteItem.type);
    @if (template) {
      <div class="draggable" draggable="true" (dragstart)="handleOnDragStart($event, paletteItem)"
           (mousedown)="handleOnMouseDown(paletteItem)">
        <app-node-preview [node]="paletteItem" />
      </div>
    }
  }

  <div #ghostNodeRef>
    <div class="dragged-node" [style.transform]="'scale(' + scale() + ')'">
      @if (draggedNode()) {
        <app-node-preview [node]="draggedNode()" />
      }
    </div>
  </div>
</div>
