:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: var(--ngd-ui-bg-primary-default);
  padding: 16px;
  box-sizing: border-box;

  & .palette {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    height: 100%;
  }

  @media (max-width: 1024px) {
    width: 200px;
    padding: 12px;
    font-size: 0.85rem;
  }

  @media (max-width: 768px) {
    width: 150px;
    padding: 8px;
    font-size: 0.65rem;

    & .palette {
      gap: 8px;
    }
  }
}
