:host {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background: var(--ngd-ui-bg-primary-default);
  padding: 16px;
  box-sizing: border-box;

  display: none;

  & .palette {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    height: 100%;
  }
}
