<ng-diagram-node-resize-adornment>
  <div class="chip-node">{{ text() }}</div>
  <ng-diagram-port id="port-left-1" type="both" style="top: 15%" side="left" originPoint="rightMiddle">
    <div>🔤</div>
  </ng-diagram-port>
  <ng-diagram-port id="port-left-2" type="both" style="top: 35%" side="left" originPoint="rightMiddle">
    <div>A2</div>
  </ng-diagram-port>
  <ng-diagram-port id="port-left-3" type="both" style="top: 55%" side="left" originPoint="rightMiddle">
    <div>A3</div>
  </ng-diagram-port>
  <ng-diagram-port id="port-left-4" type="both" style="top: 75%" side="left" originPoint="rightMiddle">
    <div>A4</div>
  </ng-diagram-port>
  <ng-diagram-port id="port-right-1" type="both" style="top: 15%" side="right" originPoint="rightMiddle">
    <div>🔢</div>
  </ng-diagram-port>
  <ng-diagram-port id="port-right-2" type="both" style="top: 35%" side="right">
    <div>🆎</div>
  </ng-diagram-port>
  <ng-diagram-port id="port-right-3" type="both" style="top: 55%" side="right">
    <div style="display: flex; flex-direction: row; gap: 0.25rem; background: #fff; pointer-events: none">
      <span>D7</span>
      <img
        width="25"
        height="25"
        alt=""
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABNklEQVR4AeyWgRGCMAxF1Ul0EzdRJ1En0U10E91E86A97BH0SKJ4HFxDy5H+voa0dDEb+JoA/jYCS0mNk9gjwG6igRaa0iyLFgEc6bQtXc1P6KF1EQXaUjVFA9in11epV2Jzp6GBFoMTCZFrigawTq+PUt/FvAWNXRIBIjXrSgPITlDXXv47EKhkbdqVaQDVi1/dJgBLBFhSLNNDxGeyALCUSKbNUAB5eVK7GSwRIPRsLmf36CJgAZBucSUKwJyYUQDmxIwCICHZbql7fZ8oAHNiRgH0mvWr8wSgRYBkIkr5YELba51a7wA4mnV27EHEfwMturR2Tw0gH58YnIOk92TMnxMtIttaphoAjuz1LWemYDD0mDmatAsJDQAHHFnb3hMx/Rk4RxXtwroACqdvPowf4FP0ngAAAP//V5oXqQAAAAZJREFUAwC6a0hBuVRVWgAAAABJRU5ErkJggg=="
      />
    </div>
  </ng-diagram-port>
  <ng-diagram-port id="port-right-4" type="both" style="top: 75%" side="right">
    <div style="display: flex; flex-direction: row; gap: 0.25rem; padding: 0 0.25rem">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#000000" viewBox="0 0 256 256">
        <path
          d="M235.33,116.72,139.28,20.66a16,16,0,0,0-22.56,0l-96,96.06a16,16,0,0,0,0,22.56l96.05,96.06h0a16,16,0,0,0,22.56,0l96.05-96.06a16,16,0,0,0,0-22.56ZM128,224h0L32,128,128,32,224,128Z"
        ></path>
      </svg>
      <span>D8</span>
    </div>
  </ng-diagram-port>
</ng-diagram-node-resize-adornment>
